<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .content {
        font-size: 20px;
        font-weight: 500;
    }

    hr {
        border: none;
        height: 1px;
    }

    .sender {
        font-size: 20px;
        font-weight: 500;
    }

    .otp {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
    }
</style>

<body>
    <p class="content">Hey there!
    <p class="content">To proceed with email verification, use the following OTP.</p>
    <p class="otp">{{ otp }}</p>
    <p class="content">The OTP is valid for {{ expiresIn }}.</p>
    <hr />
    <p class="sender">Regards,<br />Rural Classroom<br />Kharagpur, West Bengal<br />India</p>
</body>